{{#each this}}

<h2 class="js-country-title">{{name}}</h2>

<div class="js-cards-container">
    <ul class="js-card-list">
        <li><span class="js-list-title">Capital: </span>{{capital}}</li>
        <li><span class="js-list-title">Population: </span>{{population}}</li>
        <li><span class="js-list-title">Languages: </span>

            {{#each languages}}
            <ul>
                <li>{{name}}</li>
            </ul>
            {{/each}}
        </li>
        <li><span class="js-list-title">Region: </span>{{region}}</li>
        <li><span class="js-list-title">Currency: </span>

            {{#each currencies}}
            <ul>
                <li>{{name}}</li>
            </ul>
            {{/each}}
        </li>
    </ul>
    <img src="{{flag}}" alt="`{{name}} flag`" width="300" class="country-flag">
</div>
{{/each}}